<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="dateFormat" class="java.text.DateFormat"
          factory-method="getDateTimeInstance"/>

    <bean id="url" class="java.net.URL">
        <constructor-arg value="http://www.pravda.com.ua/rss/view_news/"/>
    </bean>

    <bean id="cacheWriter" class="com.alex.impl.CacheWriter" scope="prototype" init-method="init">
        <constructor-arg index="0" value="5"/>
        <constructor-arg index="1">
            <bean class="java.util.Date"/>
        </constructor-arg>
        <constructor-arg index="2" ref="dateFormat"/>
        <constructor-arg index="3" value="file.txt"/>
    </bean>

</beans>